.Pahom {
    background: url(../../../assets/images/pakhom.png);
    height: 409px;
    width: 233px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 38%;
    bottom: 54px;
}
.PahomSay {
    background: white;
    display: block;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    position: relative;
    top: -31px;
}