.Bratishka{
    background: url(../../../assets/images/epifan.png);
    height: 350px;
    width: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    right: 17%;
    top: 91px;
}
.BratishkaSay {
    background: white;
    display: block;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    top: -31px;
    left: 15px;
}