<div class="Gaupvahta">
    <app-bratishka></app-bratishka>
    Количество кликов: {{clicks}}
    <app-pahom [Input]="age" (onChanged)="onChanged($event)"></app-pahom>
</div>



<!-- <p>Это гаупвахата епт!</p>
<app-bratishka></app-bratishka>
<app-pahom></app-pahom>

<p>Имя пользователя: {{user?.name}}</p>
<p>Возраст пользователя: {{user?.age}}</p>

<div *ngFor="let key of user">
    {{key.name}}  {{key.age}}
</div>  -->
